<h3>確認画面</h3>

<%= render "shared/current_user" %>

<table>
  <thead>
    <tr>
      <th>チェックイン日</th>
      <th>チェックアウト日</th>
      <th>宿泊日数</th>
      <th>人数</th>
      <th>支払い金額</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td><%= @conf_reservation.checkin_date %></td>
      <td><%= @conf_reservation.checkout_date %></td>
      <td><%= @conf_reservation.checkout_date - @conf_reservation.checkin_date %></td>
      <td><%= @conf_reservation.number_of_people %></td>
      <td><%= @room_payment_amount * @conf_reservation.number_of_people %></td>
    </tr>
  </tbody>
</table>

<p><%= submit "予約を確定する">
